# Python
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
eggs/
*.egg
__pycache__/

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Django
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/
media/uploads/*

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# Coverage
htmlcov/
.coverage
.coverage.*

# Byte-compiled
*.pyc

# Scans & Reports
bandit-report.json
pip-audit-report.json
safety-report.json